# General
ENVIRONMENT=development

# Puertos
FRONTEND_PORT=5173
BACKEND_PORT=8000

# URLs de Comunicación
VITE_API_URL=http://localhost:8000
DATABASE_URL=postgresql://ats_user:ats_password@database:5432/ats_uce_db

# Base de Datos (Credenciales directas para Docker)
DATABASE_NAME=ats_uce_db
DATABASE_USER=ats_user
DATABASE_PASSWORD=ats_password

# Autenticación (Clerk)
CLERK_PUBLISHABLE_KEY=your_clerk_pub_key_here
CLERK_SECRET_KEY=your_clerk_secret_key_here